[user]
	email = michael.yang@infrahq.com
	name = Michael Yang
[core]
	editor = vi
	excludesfile = ~/.gitignore
[alias]
	st = status -sb
	ci = commit
	co = checkout
	br = branch
	df = diff
	dc = diff --cached
	cp = cherry-pick
	who = shortlog -s --
	undo = reset --hard
	lg = log --oneline -p
	ll = log --oneline --numstat
	lsd = log --oneline --graph
	rbi = rebase -i
	touch = commit --amend --no-edit
	ap = add -p
[color]
	ui = true
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
